[type='radio'] {
  display: none;
}

#slider {
  height: 30vw;
  width: 40vw;
  margin: 0 auto;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

#slider label {
  margin: auto;
  background-color: 'transparent';
  width: 60%;
  /* width: 60%; */
  /* height: 100%; */
  border-radius: 16px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
}

#trending1:checked ~ #slide3,
#trending2:checked ~ #slide1,
#trending3:checked ~ #slide2 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(-50%, 0, -100px);
}

#trending1:checked ~ #slide1,
#trending2:checked ~ #slide2,
#trending3:checked ~ #slide3 {
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
  transform: translate3d(0, 0, 0);
}

#trending1:checked ~ #slide2,
#trending2:checked ~ #slide3,
#trending3:checked ~ #slide1 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(50%, 0, -100px);
}
